
.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4em 1.3em;
}
.color-dark {
  background: #dc4747;
}
.color-light {
  background: #dc9147;
}

input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
}
input.btn {
  border: 0;
  display:block;
  padding:1em 3em;
  background:#A5F883;
  color:#003A61;
  margin-bottom:1em;
  cursor:pointer;
}
.life-container {
  background:#dcb747;
  padding:.5em;
  font-weight:bold;
  cursor:pointer;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}